

/* ELEMENTOS BASE */

#caja1{
    background-color: red;
}

#caja1:hover{
    background-color: rgb(229, 137, 137);
}

#caja2{
    background-color: rgb(4, 0, 255);
}

#caja2:hover{
    background-color: rgb(153, 152, 230);
}

#caja3{
    background-color: rgb(41, 83, 57);
}

#caja3:hover{
    background-color: rgb(167, 230, 191);
}

.caja{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);

}

/* ejecicio 1 */

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border: 4px solid #000000;

}

/* ejecicio 2 */

.contenedor_02{
    height: 900px;
    display: inline-flex;    ;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: 4px solid #000000;

}

/* ejecicio 3 */

.contenedor_03{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #000000;
}


